*{
    padding: 0px;
    margin: 0px;
}
.menu-bar{
    background: rgb(8, 52, 134);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(247, 6, 6)55, 255, 255);
}
.menu-bar ul li{
    width: 130px;
    height: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration:none;
    color:white;
}
.active,.menu-bar ul li:hover{
    background:green;
    border-radius:5px;
}